{%extends 'base.html'%}


{%block head%}

{%endblock%}

<Title>YouthSupportConnect</Title>

{%block body%}

<div class="content">
     <div id="popup" class="popup">
        <div class="popup-content">
            
            <h2>Terms and Conditions</h2>
            <p>By using this website, you agree to our terms and conditions...
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnes enim iucundum motum, quo sensus hilaretur. <a href="http://loripsum.net/" target="_blank">Bork</a> Itaque ad tempus ad Pisonem omnes. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. </p>

<p>Sin laboramus, quis est, qui alienae modum statuat industriae? Hoc loco discipulos quaerere videtur, ut, qui asoti esse velint, philosophi ante fiant. Qua igitur re ab deo vincitur, si aeternitate non vincitur? Quae hic rei publicae vulnera inponebat, eadem ille sanabat. </p>

<p>Ac ne plura complectar-sunt enim innumerabilia-, bene laudata virtus voluptatis aditus intercludat necesse est. Egone quaeris, inquit, quid sentiam? <i>Duo Reges: constructio interrete.</i> Itaque hic ipse iam pridem est reiectus; Est, ut dicis, inquit; </p>


            </p>
            
            <a href="/index" ><button id="acceptBtn">Accept</button></a>
        </div>
    </div>        
{%endblock%}