<!DOCTYPE html>
<html>
<head>
    <title>YouthSupportConnect</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header><h1>YouthSupportConnect</h1></header>
    <div class="container">

    <div class="description">
        <h1>Welcome to the Group List App</h1>
        <p>We understand the challenges that today's youth face, and we are committed to providing a safe and supportive platform for them. Our website is dedicated to connecting youth with support groups that can make a real difference in their lives.</p>
        <p>On this platform, support groups can easily create profiles, sharing their name, a brief description of their services, and contact information. Whether you're a mentor, counselor, or advocate, this is your space to reach out and make a positive impact on young lives.</p>
        <p>We believe in the power of community and support. Join us in our mission to protect and empower the youth. Together, we can create a brighter future for the next generation. Explore, connect, and make a difference today.</p>

    </div>
    
    <div class="link">
        <p>To view the list of Communities and groups click on the link below</p>
        <a href="/agree">Go to List</a>
    </div>
</div>
</body>
<footer>
    <p>For the youth, by the youth</p>
</footer>
</html>
